<form class="row g-3 needs-validation" novalidate #form="ngForm">
  <div class="col-md-4">
    <label for="validationCustom01" class="form-label">First name</label>
    <input type="text" class="form-control" id="validationCustom01" #fName="ngModel" name="firstName" [(ngModel)]="studentObject.firstName" required minlength="3">
    <div class="text-danger">
      @if (fName.errors?.['required'] && (fName.touched || fName.dirty)) {
        <span>This is required</span>
      }@else if (fName.errors?.['minlength'] && (fName.touched || fName.dirty)) {
        <span>Minimum 3 Chars required</span>
      }
    </div>
  </div>
  <div class="col-md-4">
    <label for="validationCustom02" class="form-label">Last name</label>
    <input type="text" class="form-control" id="validationCustom02" name="lastName" [(ngModel)]="studentObject.lastName"  required>
    <div class="valid-feedback">
      Looks good!
    </div>
    <div class="invalid-feedback">
      Looks good!
    </div>
  </div>
  <div class="col-md-4">
    <label for="validationCustomUsername" class="form-label">Username</label>
    <div class="input-group has-validation">
      <span class="input-group-text" id="inputGroupPrepend">&#64;</span>
      <input type="text" class="form-control" id="validationCustomUsername" aria-describedby="inputGroupPrepend" name="username" [(ngModel)]="studentObject.username"  required>
      <div class="invalid-feedback">
        Please choose a username.
      </div>
    </div>
  </div>
  <div class="col-md-6">
    <label for="validationCustom03" class="form-label">City</label>
    <input type="text" class="form-control" id="validationCustom03" name="city" [(ngModel)]="studentObject.city"  required>
    <div class="invalid-feedback">
      Please provide a valid city.
    </div>
  </div>
  <div class="col-md-3">
    <label for="validationCustom04" class="form-label">State</label>
    <select class="form-select" id="validationCustom04" name="state" [(ngModel)]="studentObject.state" required>
      <option selected disabled value="">Choose...</option>
      <option *ngFor="let state of allStates" [value]="state">{{state}}</option>
    </select>
    <div class="invalid-feedback">
      Please select a valid state.
    </div>
  </div>
  <div class="col-md-3">
    <label for="validationCustom05" class="form-label">Zip</label>
    <input type="text" class="form-control" id="validationCustom05" name="pincode" [(ngModel)]="studentObject.pincode" required>
    <div class="invalid-feedback">
      Please provide a valid zip.
    </div>
  </div>
  <div class="col-12">
    <div class="form-check">
      <input class="form-check-input" type="checkbox" value="" id="invalidCheck" name="isAcceptTerms" [(ngModel)]="studentObject.isAcceptTerms" required>
      <label class="form-check-label" for="invalidCheck">
        Agree to terms and conditions
      </label>
      <div class="invalid-feedback">
        You must agree before submitting.
      </div>
    </div>
  </div>
  <div class="col-12">
    <button class="btn btn-primary" type="reset" (click)="resetForm()">Reset Form</button>
    <button class="btn btn-primary" type="submit" (click)="onSubmit()"[disabled]="form.invalid">Submit form</button>
  </div>
</form>
<div>
  {{formValue|json}}

</div>
