<div class="row">
  <div class="col2">

    <button class="btn btn-success" (click)="getAllUsers()">Get Users</button>
    <button class="btn btn-success" (click)="getAllCustomer()">Get Customers</button>
  </div>
  <div class="col-3">
    <select class="form-select">
      @for (item of userList; track $index) {
      <option>{{ item.name }}</option>
      }
    </select>
  </div>

  <div class="col-3">
    <select class="form-select">
      @for (item of customerList; track $index) {
      <option>{{ item.userName }}</option>
      }
    </select>
  </div>
</div>
