<!-- <app-attribute-directive></app-attribute-directive> -->
<!-- <nav class="navbar navbar-expand-sm navbar-dark bg-dark">
  <div class="container-fluid">
    <a class="navbar-brand">Logo</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#mynavbar">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="mynavbar">
      <ul class="navbar-nav me-auto">
        <li class="nav-item" style="margin-top:-12px;">
          <a class="nav-link active" routerLink="str-dir">Structural Directive</a>
        </li>
        <li class="nav-item" style="margin-top:-12px;" >
          <a class="nav-link" routerLink="atb-dir">Attribute Directive</a>
        </li>
        <li class="nav-item" style="margin-top:-12px;">
          <a class="nav-link">Link</a>
        </li>
      </ul>
      <form class="d-flex">
        <input class="form-control me-2" type="text" placeholder="Search">
        <button class="btn btn-primary" type="button">Search</button>
      </form>
    </div>
  </div>
</nav>


<div class="container">
  <router-outlet></router-outlet>
</div> -->

<!-- <app-template-form></app-template-form> -->

<!-- <app-reactive-form></app-reactive-form> -->
<!-- <app-get-api></app-get-api> -->
 <!-- <app-post-api></app-post-api> -->
<!-- <app-put-api></app-put-api> -->
<!-- <app-delete-api></app-delete-api> -->
<!-- <app-through-service></app-through-service> -->
<!-- <app-parent></app-parent> -->


<router-outlet></router-outlet>
